/node_modules
/database/seeds
/public/hot
/public/storage
/storage/*.key
/vendor
/nbproject
/folder_tmp
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
